APP_ENV=prod
TASK_MODE=celery
VITE_API_BASE_URL=http://localhost:8000/v1
MYSQL_ROOT_PASSWORD=verda
MYSQL_DATABASE=verda
MYSQL_USER=verda
MYSQL_PASSWORD=verda
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
ARTIFACT_STORAGE_BACKEND=minio
